.oderItem {
    margin: 5px 5px;
    padding-right: 20px;
    align-items: center;
    width: max-content;
    // border: 2px solid gray;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    transition: background-color 250ms ease-in;
    display: flex;

    > .oderItem__img {
    }
    > .oderItem__content {
        margin-left: 10px;
        > h2 {
            font-weight: 500;
            margin-bottom: 10px;
            > span {
                margin-left: 40px;
                font-size: 13px;
                color: gray;
            }
        }
        > p {
            font-size: 15px;
        }
    }
    > .oderItem__doneBtn {
        align-self: end;
        margin-bottom: 10px;
    }
    &:hover {
        background-color: rgb(228, 228, 228);
        cursor: pointer;
    }
}
