.nav {
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 0 20px 20px;
    z-index: 999;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .nav__logoBox {
        cursor: pointer;
        > img {
            cursor: pointer;
            object-fit: contain;
            height: 40px;
        }
    }
    > .nav__input {
        width: 50%;
    }
    > .nav__loginSinupbtn {
        > button {
            border-radius: 10px;
            font-size: 1.1rem;
            padding: 10px 20px;
            transition: all 500ms ease-in-out;
            > span {
                font-weight: 600;
            }
            &:hover {
                background-color: rgb(243, 243, 243);
            }
        }
    }
}
.nav__white {
    color: #ffff;
    &:hover {
        color: gray;
    }
}
.nav__whiteImg {
    filter: invert(100%);
}
