.menuScreen {
    > .menuScreen__container {
        margin: 30px auto 0 auto;
        max-width: 1200px;
    }
}
.menuContent {
    position: sticky;
    > .menuContent__content {
        display: flex;
        > .menuContent__main {
            > .menuContent__main_section {
                > h2 {
                    letter-spacing: 0.5px;
                    font-weight: 600;
                }
            }
        }
    }
}
