.signup {
    background: url("../../../public/images/bg/food-1536x1024.jpg");
    // filter: blur(1px);
    height: 100vh;
}
.signup__container {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        background: rgba(174, 174, 174, 0.5);
        border-radius: 20px;
        padding: 20px 40px;
        backdrop-filter: blur(2px);
        > input {
            color: white;
        }
    }
}
.signup__input {
    color: white !important;
}
.signup__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > h1 {
        text-transform: capitalize;
        margin-bottom: 20px;
        color: rgb(255, 255, 255);
    }
}
